body{
    background-color: #212121;
    color: #fff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}
#code, #result{
    font-size: 16px;
    line-height: 1.5;
    font-family: 'Courier New', Courier, monospace;
    background-color: #161616;
    color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    overflow-x: auto;
}
#code::placeholder{
    color: #ccc;
}
#result{
    color: #54e76f;
}