body.dark-mode {
  background-color: #0d1117 !important;
  color: #e0e0e0 !important;
}
.dark-mode .form-control, .dark-mode textarea, .dark-mode textarea::placeholder {
  background-color: #151b23 !important;
  color: #e0e0e0 !important;
  border-color: #444 !important;
}
.dark-mode .btn-primary {
  background-color: #375a7f !important;
  border-color: #375a7f !important;
}
.dark-mode .btn-secondary {
  background-color: #444 !important;
  border-color: #444 !important;
  color: #e0e0e0 !important;
}
.dark-mode .page-container, .dark-mode .ide-container {
  background-color: #151b23 !important;
  font-family: monospace!important;
  color: #e0e0e0 !important;
  padding: 20px;
  border-radius: 10px;
}
.dark-mode #result {
  /* background-color: #23272b !important; */
  color: #87e880 !important;
  /* border-color: #444 !important; */
}
.dark-mode footer {
  color: #aaa !important;
}
.light-mode {
  background-color: #fff !important;
  font-family: monospace!important;
  color: #212529 !important;
  border: #0d1117 !important;
  padding: 20px;
}